body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7d1d1;
  }

  h1, h2 , h3{
    text-align: center;
    color: #333;
  }

  /* Topic 2: Color, Background, Border, Text */
  .header {
    background-color: #3498db;
    text-align: center;
    color: white;
    padding: 20px;
    border-top: 4px solid #61a3d0;
    border-bottom: 4px solid #61a3d0;
  }

  /* Topic 3: Fonts, Text Decoration, Line Height, Letter Spacing */
  .text {
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-decoration: underline  #27ae60;
  }

  /* Topic 4: Width, Height, Max, Min */
  .box-size {
    width: 500px;
    height: 300px;
    background-color: red;
    color: white;
    padding: 10px;
    margin: 20px auto;
  }

  /* Topic 5: Margin, Padding, Border, Box Model */
  .box-model {
    color: white;
    width: 250px;
    padding: 40px;
    margin: 30px auto;
    border: 5px solid #27ae60;
    background-color: #2f4449;
    box-shadow: #333;
  }

  /* Topic 6: Display */
  .inline span {
    display: inline;
    color: red;
    margin-left: 20px;
  }

  .block div {
    display: block;
    background-color: #7396ae;
    margin: 8px 10px;
    padding: 10px;
  }

  .inline-block-img img {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    margin-left: 40px;
  }

  .none{
    display: none;
  }




  